//Color Composition / Pallate
$veryDarkBlue:hsl(217, 54%, 11%);
$VeryDarkBlueCard:hsl(216, 50%, 16%);
$VeryDarkBlueLine:hsl(215, 32%, 27%);
$white:hsl(0, 0%, 100%);
$SoftBlue:hsl(215, 51%, 70%);
$Cyan:hsl(178, 100%, 50%);

//Font-size
$fSizeP:1.125rem;

//Font-Weight
$flarge:600;
$fmed:400;
$fsmall:300;